BasedOnStyle: Google
IndentWidth: 4
# ContinuationIndentWidth: 4
AllowShortBlocksOnASingleLine: true
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
# AlignOperands: false
# AlwaysBreakAfterDefinitionReturnType: None
# AlwaysBreakTemplateDeclarations: No
IncludeBlocks: Preserve
SortIncludes: false
BreakBeforeBraces: Attach
ColumnLimit: 120
# BreakBeforeBinaryOperators: None
# BreakBeforeTernaryOperators: true
