name: Coverage Badge

on:
  workflow_run:
    workflows: ["Coverage"]
    types:
      - completed

jobs:
  badge:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: gh-pages
          
      - name: Generate Badge
        run: |
          COVERAGE=$(grep -A 1 "Overall coverage rate" coverage_report/index.html | grep -o '[0-9]\+\.[0-9]\+%' | head -n 1)
          echo "coverage=$COVERAGE" >> $GITHUB_ENV
          
      - name: Create Badge
        uses: schneegans/dynamic-badges-action@v1.6.0
        with:
          auth: ${{ secrets.GIST_SECRET }}
          gistID: ${{ secrets.GIST_ID }}
          filename: coverage.json
          label: coverage
          message: ${{ env.coverage }}
          color: success 